<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home_style.css') }}">
</head>

<body>

    <header>
        <span id="current-date-time" style="margin-right: 20px;"></span>
        <h1 class="center-text">Welcome to Your Calorie Tracker</h1>
        <button onclick="logout()" style="margin-left: 20px;">Logout</button>
        <span id="current-date-time"></span>
    </header>

    <style>
        .center-text {
            text-align: center;
            margin: 0 auto;
            width: fit-content;
        }
    </style>



    <div class="container">
        <section class="daily-intake section">
            <h2>Daily Intake</h2>
            <!-- Inside the section with class="daily-intake section" -->
            {% for meal, items in meals.items() %}
            <div class="meal-section">
                <h3>{{ meal|capitalize }}</h3>
                <div class="meal-items">
                    {% for item in items %}
                    <div class="item">
                        {{ item.name }} - {{ item.calories }} calories
                        <span class="datetime" data-full-datetime="{{ item.datetime }}"
                            style="color: gray; font-size: 14px;">{{ item.datetime.split(' ')[1] }}</span>

                    </div>
                    {% endfor %}


                </div>
            </div>
            {% endfor %}
            <div class="total-consumption">
                Total Daily Consumption: <span style="color: green; margin-left: 10px;">{{ total_calories }}
                    calories</span>
            </div>


            <button onclick="openFoodPopup()">Add Food Intake</button>
            <button onclick="openFoodPopup()">Add Food Intake</button>
            <div id="food-popup" class="popup" style="display: none;">
                <h3>Add Food Intake</h3>
                <form id="food-form" action="/add_food" method="POST">
                    <div class="input-group">
                        <div class="input-wrapper">
                            <label for="food-name">Food Name:</label>
                            <input list="foods" id="food-name" name="food-name">
                            <datalist id="foods">
                            </datalist>
                        </div>

                        <div class="input-wrapper">
                            <label for="grams">Grams:</label>
                            <input type="text" id="grams" name="grams" style="width: 60px;">
                        </div>

                        <button type="button" onclick="checkCalories()" style="margin-left: 14px;">Check Calories
                        </button>
                    </div>

                    <div class="input-group">
                        <div class="input-wrapper">
                            <label for="meal">Meal:</label>
                            <select id="meal" name="meal">
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                                <option value="snack">Snack</option>
                            </select>
                        </div>

                        <div class="input-wrapper">
                            <label for="calories">Calories:</label>
                            <input type="text" id="calories" name="calories" style="width: 60px;">
                        </div>
                    </div>

                    <button type="submit">Submit</button>

                </form>
            </div>

        </section>


        <section class="water-intake section">
            <h2>Water Intake</h2>

            <ul id="water-list">
                {% for item in water_items %}
                <li>{{ item.ounces }} ounces
                    <span class="datetime" data-full-datetime="{{ item.datetime }}"
                        style="color: gray; font-size: 14px;">{{ item.datetime.split(' ')[1] }}</span>

                </li>
                {% endfor %}


            </ul>
            <button onclick="openWaterPopup()">Add Water Intake</button>
            <div id="water-popup" style="display: none;">
                <h3>Add Water Intake</h3>
                <form id="water-form" action="/add_water" method="POST">
                    <label for="water-amount">Amount (in ounces):</label>
                    <input type="number" id="water-amount" name="water-amount">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <p class="total-ounces">Total Ounces Consumed: {{ total_ounces }} ounces</p>

        </section>
    </div>

    <footer>
        <p>&copy; 2024 MyCalPal</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateTimeElement = document.getElementById('current-date-time');
            if (dateTimeElement) {
                updateDateTime(dateTimeElement);
            } else {
                console.log("Error: 'current-date-time' element not found");
            }

            setInterval(function () {
                updateDateTime(dateTimeElement);
            }, 60000); // Update every minute
            const foodDatetimeElements = document.querySelectorAll('.datetime');
            foodDatetimeElements.forEach(element => {
                displayFoodTime(element);
            });
        });

        function updateDateTime(dateTimeElement) {
            const currentDate = new Date();
            let hours = currentDate.getHours();
            const amPm = hours >= 12 ? 'PM' : 'AM';

            // Convert hours to 12-hour format instead of military
            hours = hours % 12 || 12;

            const minutes = String(currentDate.getMinutes()).padStart(2, '0');
            const day = String(currentDate.getDate()).padStart(2, '0');
            const month = String(currentDate.getMonth() + 1).padStart(2, '0'); //
            const year = currentDate.getFullYear();

            dateTimeElement.innerHTML = `${hours}:${minutes} ${amPm}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${month}/${day}/${year}`;

        }


        function displayFoodTime(datetimeElement) {
            const fullDateTime = datetimeElement.getAttribute('data-full-datetime');
            const timeParts = fullDateTime.split(' ')[1].split(':');
            let hours = parseInt(timeParts[0]);
            const minutes = timeParts[1];
            const amPm = hours >= 12 ? 'PM' : 'AM';

            // Convert hours to 12-hour format instead of military
            hours = hours % 12 || 12;

            datetimeElement.textContent = hours + ":" + minutes + " " + amPm;
        }

        function openFoodPopup() {
            var popup = document.getElementById("food-popup");
            popup.style.display = "block";
        }

        function openWaterPopup() {
            var popup = document.getElementById("water-popup");
            popup.style.display = "block";
        }

        function endDay() {
            var weeklyProgress = document.getElementById("weekly-progress");
        }

        function logout() {
            window.location.href = "/LogIn.html";
        }

        function fetchFoodItems() {
            fetch('/food_items')
                .then(response => response.json())
                .then(data => {
                    const foodList = document.getElementById('foods');
                    data.forEach(food => {
                        const option = document.createElement('option');
                        option.value = food;
                        foodList.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching food items: ', error))
        }

        function checkCalories() {
            const foodNameInput = document.getElementById("food-name");
            const gramsInput = document.getElementById("grams");
            const caloriesInput = document.getElementById("calories");

            const foodName = foodNameInput.value;
            const grams = gramsInput.value;

            if (!foodName || !grams) {
                alert("Please enter both food name and grams.");
                return;
            }

            fetch(`/food_info?food_name=${foodName}`)
                .then(response => response.json())
                .then(data => {
                    const caloriesPerServing = data.calories_per_serving;
                    const servingSizeGrams = data.serving_size_grams;

                    if (!caloriesPerServing || !servingSizeGrams) {
                        alert("Information not found for this food.");
                        return;
                    }

                    const totalCalories = (parseInt(grams) * caloriesPerServing) / servingSizeGrams;
                    caloriesInput.value = totalCalories.toFixed(2); // Set total calories in the calories input field
                })
                .catch(error => {
                    console.error('Error fetching food information: ', error);
                    alert("Error fetching food information. Please try again.");
                });
        }

        window.addEventListener('load', fetchFoodItems);
    </script>



</body>

</html>