body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-image: url('https://i.pinimg.com/564x/d0/54/0d/d0540d13686095a3c8245c02235214c8.jpg');
    background-size: cover;
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: beige;
    height: 150px; /* Adjusted height */
    color: burlywood;
    padding: 20px 40px; /* Added padding */
}

header h1 {
    margin: 0;
}

.daily-intake {
    display: inline-block;
    width: calc(70% - 20px);
    max-width: 1000px;
    height: 900;
    margin: 10px auto;
    padding: 10px;
    vertical-align: top;
}

.water-intake {
    display: inline-block;
    width: calc(30% - 20px);
    max-width: 750px;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    vertical-align: top;
}

@media screen and (max-width: 1000px) {
    .daily-intake, .water-intake {
        width: calc(100% - 20px);
        margin: 10px auto;
    }
}

.section {
    margin: 20px;
    padding: 20px;
    flex: 1;
    opacity: 0.95;
    border-radius: 10px;
}

.daily-intake, .water-intake, .weekly-progress {
    border-radius: 10px;
    text-align: center;
}

.daily-intake {
    background-color: #cfe6cf;
    border: 2px solid #5cb85c;
}

.daily-intake h2, .daily-intake h3 {
    color: #5cb85c;
}

.daily-intake button {
    color: white;
    background-color: #b0d4b0;
    border: 1px solid #5cb85c;
    border-radius: 10px;
    padding: 5px;
}

.daily-intake li {
    list-style-type: disc;
    margin-bottom: 5px;
    text-align: center;
}

.water-intake {
    background-color: #b3d9ff;
    border: 2px solid #5bc0de;
}

.water-intake h2, .water-intake h3 {
    color: #5bc0de;
    font-family: "Georgia", Times, serif;
    font-size: 24px;
}

.water-intake button {
    color: white;
    background-color: #95c1ed;
    border: 1px solid #5bc0de;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.water-intake li {
    list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
    color: #0064a0;
    font-family: "Georgia", Times, serif;
    font-size: 18px;
}

.weekly-progress {
    margin-top: 20px;
    background-color: #ffd699;
    border: 2px solid #ffad33;
    color: #dbaa60;
    height: 250px;
}

#intake {
    display: inline-block;
    width: 500px;
    height: 800px;
}

.daily-intake li,
.water-intake li {
    margin-bottom: 5px;
    text-align: center;
}

.daily-intake button,
.water-intake button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.end-day {
    text-align: center;
    margin-top: 20px;
}

.end-day button {
    color: white;
    background-color: #cb98eb;
    border: 1px solid #b151ed;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    height: 40px;
}

header button {
    color: burlywood;
    background-color: #f0f0d5;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}

.item {
    background-color: transparent;
    border: none;
    color: #006400;
    font-family: "Georgia", Times, serif;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 5px;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-wrapper {
    flex: 1;
    margin-right: 5px;
}

#food-name{
    width: 60%;
}
#grams {
    width: 30%;
}
#calories {
    width: 60%;
}
.meal-section {
    margin-bottom: 20px;
}

.meal-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
